.crew{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
.crew_statement,
.crew_chosen,
.crew_img,
.crew_nav{
    width: 100%;
}
.crew_statement{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}
.crew_statement span{
    font-weight: Bold;
    opacity: 25%;
    margin-right: 15px;
}
.crew_figure{
    width: 100%;
    border-bottom: 1px solid 
    rgba(56, 59, 75, 1);
    margin: 20px 0;
}
.crew_img{
    width: 177.12px;
}
.crew_nav{
    margin: 10px 0 25px 0;
}
.crew_nav-list{
    width: 90px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
}
.crew_nav-item{
    width: 10px;
    height: 10px;
    background-color: 
    rgba(255, 255, 255, 0.1744);
    border-radius: 50%;
}
.crew_nav-item:hover{
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.crew_rank{
    text-transform: uppercase;
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    opacity: 49.51%;
    margin: 5px 0;
}
.crew_name{
    font-family: 'Bellefair';
    font-size: 24px;
    line-height: 28px;
    color: 
    rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
}
.crew_copy{
    font-family: Barlow;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #D0D6F9;
    margin: 20px 0 80px 0;
}
@media(min-width: 650px){
    .crew{
        width: 90vw;
    }
    .crew_statement{
        text-align: start;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.38px;
    }
    .crew_statement span{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.38px;
    }

    .crew_nav{
        order:1
    }
    .crew_figure{
        order: 2;
        margin: 10px 0 0 0;
    }
    .crew_img{
        width: 456.37px,
    }
    .crew_chosen{
        margin: 30px 0 0 0;
    }
    .crew_rank{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .crew_name{
        font-size: 40px;
        line-height: 46px;
    }
    .crew_copy{
        width: 50vw;
        max-width: 450px;
        margin: 20px auto 30px auto ;
        font-size: 16px;
        line-height: 28px;
    }
}
@media(min-width: 900px){
    .crew_statement,
    .crew_nav,
    .crew_chosen{
        width: 51%;
    }
    .crew_statement{
        /* order: 1; */
        /* min-height: min-content; */
    }
    .crew_figure{
        /* order: 2; */
        width: 49%;
        /* height: 100%; */
    }
    .crew_nav{
        /* order: 3; */
    }
    .crew_chosen{
        /* order: 4; */
    }
}