* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}

.header-menu li {
    list-style: none;
}
.header-menu_logo  img{
    margin: 24px;
    max-width: 40px;
    max-height: 40px;
}
.header-menu .header-menu-hamburger img{
    margin: 33px;
    width: 24px;
    height: 24px;
}
.header-menu-hamburger img:hover{
    cursor: pointer;
}
.header-menu-hamburger ul{
    display: none;
}
.header-menu-hamburger img:active, ul:active{
    display: block;
}