* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    width: 100%;
    height: auto;
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}

.header-menu li {
    list-style: none;
}
.header-menu_logo  img{
    margin: 24px;
    max-width: 40px;
    max-height: 40px;
}
.header-menu .header-menu-hamburger img{
    margin: 33px;
    width: 24px;
    height: 24px;
}
.header-menu-hamburger img:hover{
    cursor: pointer;
}
.header-menu-hamburger ul{
    display: none;
}
.header-menu-hamburger img:active, ul:active{
    display: block;
}
/*               body  */             
:root{
    --barlow: 'Barlow', sans-serif;
    --barlow-condensed: 'Barlow Condensed', sans-serif;;
    --bellefair: 'Bellefair', serif;
}

.main{
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.destination{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destination-title{
    font-family: var(--barlow-condensed); 
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    margin: 15px auto;
    letter-spacing: 2.7px;
    color: #fff;
}
.destination-title span{
    margin-right: 10px;
    font-weight: 700;
    opacity: 0.25;
}
.destination-img img{
    margin: 15px;
    width: 150px;
    height: 150px;
}
.destination .destination-menu{
    width: 70%;
    height: 28px;
    display: flex;
    justify-content: space-between;
}

.destination-menu li {
    list-style: none;
    font-family: var(--barlow-condensed);
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2.36px;
    color: #D0D6F9;
    margin-bottom: 15px;
}
.destination-menu li:hover{
    border-bottom: 2px solid #fff;
}
.destination-menu li a{
    color: #D0D6F9;
    text-decoration: none;
}
.destination .destination-subtitle{
    color: #fff;
    margin-top: 10px;
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 56px;
    line-height: 64.18px;
}
.destination-paragraph{
    width: 80%;
    color: #D0D6F9;
    font-size: 15px;
    font-family: var(--barlow);
    font-weight: 400;
    line-height: 25px;
}
.travel {
    display: flex;
    flex-direction: column;
    margin: 30px auto; 
    height: 132px;
    justify-content: space-between;
}
.travel-distance p:nth-child(1) {
    color: #D0D6F9;
    font-family: var(--barlow-condensed);
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2.36px;
}
.travel-distance p:nth-child(2) {
    margin-top: 10px;
    color: #fff;
    font-family: var(--bellefair);
    font-size: 28px;
    font-weight: 400;
    line-height: 32.09px;
    
}
.travel-time{
    margin: 25px auto;
}
.travel-time p:nth-child(1) {
    color: #D0D6F9;
    font-family: var(--barlow-condensed);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.68rem;
    letter-spacing: 0.236rem;
}
.travel-time p:nth-child(2) {
    margin-top: 10px;
    color: #fff;
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.209rem;
}
/*             body  */