* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

:root{
    --barlow: 'Barlow', sans-serif;
    --barlow-condensed: 'Barlow Condensed', sans-serif;;
    --bellefair: 'Bellefair', serif;
}

body{
    width: 100%;
    height: auto;
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}

.header-menu li {
    list-style: none;
}
.header-menu_logo  img{
    margin: 24px;
    max-width: 40px;
    max-height: 40px;
}
.header-menu .header-menu-hamburger img{
    margin: 33px;
    width: 24px;
    height: 24px;
}
.header-menu-hamburger img:hover{
    cursor: pointer;
}
.header-menu-hamburger ul{
    display: none;
}
.header-menu-hamburger img:active, ul:active{
    display: block;
}
/*                                                      body  */
body{
    width: 100%;
    height: auto;
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    color: #fff;
}
.main-crew{
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}
.main-crew h2{
    display: inline-block;
}
.main-crew .crew-title{
    display: inline-block;
    color: #fff;
    font-family: var(--barlow-condensed);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19.2rem;
    letter-spacing: 0.27rem;
}
.crew-title span{
    color: #fff;
    font-family: var(--barlow-condensed);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 19.2rem;
    letter-spacing: 0.27rem;
    opacity: 0.4;
    margin-right: 15px;
}

.main-crew .crew-image img{
    margin-bottom: 10px;
    height: 202px;
}
.crew-member {
    color: #fff;
    margin-top: 15px;
    font-family: var(--bellefair);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.834rem;
}
.crew-name{
    color: #fff;
    margin: 10px auto 20px auto;
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.75rem;
}
.crew-description{
    color:#D0D6F9;
    width: 90%;
    margin-bottom: 50px;
    font-family: var(--barlow);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;

}
/*                                                      body  */